In [1]:
import pandas as pd
import cv2
import numpy as np
from pathlib import Path


from IPython.display import display
import plotly.express as px
import plotly.graph_objects as go

In [5]:
csv_path = '/home/semyon/data/VinBigData/train.csv'
meat_path = '/home/semyon/data/VinBigData/train_meta.csv'
data_dir = Path('/home/semyon/data/VinBigData')  / 'train'

In [3]:
df = pd.read_csv(csv_path)

In [9]:
df.image_id.apply(lambda x: (data_dir / f'{x}.npy').exists()).value_counts()

True    67914
Name: image_id, dtype: int64

In [3]:
df = pd.read_csv(csv_path)

In [22]:
# number of images annotated
df_rad = pd.DataFrame( {'nimages': dict(list(map(lambda x: (x, df[df.rad_id == x].image_id.unique().shape[0]), df.rad_id.unique()))),
               'nboxes': df.rad_id.value_counts().to_dict()})

In [27]:
df_rad.sort_values('nboxes', ascending=False)

     nimages  nboxes
R9      6125   15708
R10     6467   13292
R8      6582   12198
R2      3119    3121
R5      2783    2783
R3      2285    2285
R6      2041    2041
R1      1995    1995
R13     1629    1824
R15     1639    1823
R16     1676    1763
R7      1733    1733
R12     1671    1729
R11     1526    1670
R14     1440    1624
R4      1513    1513
R17      776     812